* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.counter-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;

}

.counter{
    font-size: 60px;
    margin-top: 10px;
}
@media(max-width: 580px){
    body{flex-direction: column;}
}