* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #a6a2a2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
}

h1{
    margin: 5px;
}

.box{
    background-color: steelblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    border-radius: 8px;
    width: 200px;
    height: 50px;
    box-shadow: 1px 2px 5px rgb(0,0,0,0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even){
    transform: translateX(-400%);
}

.box.show{
        transform: translateX(0);
}

