*{
    box-sizing: border-box;
}

body {
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
}

.container {
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before{
    content: '';
    background-color: #e0e6ed;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width:100%;
    z-index: -1;
}

.progress{
    background-color: #4f46e5;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width:0;
    z-index: -1;
    transition: 0.4s ease;

}

.circle{
    background-color: #ffffff;
    color: #94a3b8;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #e0e6ed;
    transition: 0.4s ease;

}

.circle.active{
    border-color: #4f46e5;
    color: #4f46e5;
}

.btn{
    background: #4f46e5;
    color: white;
    border:0;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active{
    transform: scale(0.95);
}

.btn:hover{
    background: #4338ca;
}

.btn:disabled{
    cursor: not-allowed;
    background-color: #cbd5e1;
}