* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', Calibri, sans-serif;
    overflow-x: hidden;
    margin: 0;
    background-color: #333;
    color: #222;
}

.container {
    background-color: #f4f6f9;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}

.container.show-nav {
    transform: rotate(-20deg);
}

.container.show-nav + nav li {
    transform: translateX(0);
}

.circle-nav {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: #4f46e5;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.container.show-nav .circle {
    transform: rotate(-70deg);
}

.circle button {
    position: absolute;
    height: 100px;
    width: 100px;
    background: transparent;
    border: none;
    font-size: 26px;
    color: white;
    cursor: pointer;
}

#open {
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
}

#close {
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%) rotate(90deg);
}

nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

ul {
    list-style: none;
    padding-left: 30px;
}

li {
    color: white;
    margin: 20px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

img {
    max-width: 100%;
}

i {
    margin-right: 10px;
    font-size: 20px;
}

.content {
    max-width: 700px;
    margin: 50px auto;
}

h1 {
    margin: 0;
}